
 label{
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  font-family: 'segoe UI';
 }


 .input-group {
  vertical-align: center;
  position: relative;
  display: table;
  border-collapse: separate;
  float: none;
  padding-right: 0;
  padding-left: 0px;
  width: 100%;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}



.form-control {
  display: block;
  width: 70%;
  height: 15px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-group{
  margin-left: 110px;
  margin-top: 0px;
  padding: 8px;
}
 .form-group-button{
  margin-left: 110px;
  margin-top: 0px;
  padding: 8px;
 }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


.btn {
  display: inline-block;
  padding: 6px 204px;
  margin-left: -119px!important;
  font-weight: bold;
  text-align: center;
  background-color: #66afe9;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #006cc2;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #006cc2;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
  color: #ffffff;
  background-color: #66afe9;
  border-color: #006cc2;


}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #66afe9;
  border-color: #006cc2;
}



.text-center {
  padding-top: 10px;
  text-decoration: none;
  font-size: 26px;
  color: #094e85;
  border-bottom: 1px solid #D6D6D6;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'segoe UI';
  font-weight: 500;
  line-height: 1.1;
}


/*----------------------------LOGIN PAGE--------------------------------*/

#login_page
 {
   
    margin: 0px auto;
    margin-top:10px;
    position: relative;
    width: 600px;
    height: 400px;
 }

